body{
	background-color: #FFEBCD;
	font-family: Verdana, sans-serif;
	color: #483C32; /*taupe*/
	margin:0
	}
		
* {box-sizing: border-box;}

.header {
  		overflow: hidden;
  		padding: 20px 10px;
  		background-color: #e6c69c; /*color header*/
  		color: #483C32; /*taupe*/
		}

.header a {
	  	float: left;
	  	color: #483C32; /*taupe*/
	  	text-align: center;
	  	padding: 12px;
	  	text-decoration: none;
	  	font-size: 18px; 
	  	line-height: 25px;
	  	border-radius: 4px;
	  	font-family: "Lucida Console", "Courier New", monospace;
	  }

.header a#logo {
		  font-size: 25px;
		  font-weight: bold;
		}

.header a:hover {
		  background-color: #FFEBCD; /*logo starlight*/
	  	  color: #483C32; /*taupe*/
		}

.header a.active {
		  background-color: #FFEBCD;
		}

.header-right {
		  float: right;
		}
	
.header-right a {
	  float: left;
	  font-size: 16px;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  color: #483C32; /*taupe*/
	}
/*responsive image*/
.responsive { 
  height: auto;
}
/*nav menu dropdown */
.dropdown {
	  float: left;
	  overflow: hidden;
	}

.dropdown #home {
	  font-size: 16px;  
	  border: none;
	  outline: none;
	  padding: 14px 16px;
	  background-color: inherit;
	  font-family: inherit;
	  margin: 0;
	  color: #483C32; /*taupe*/
	}

.header-right a:hover, .dropdown:hover #home {
	  background-color: #FFEBCD;
	}

.homecontent {
	  display: none;
	  position: absolute;
	  background-color: #FFEBCD;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

.homecontent a {
	  float: none;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}
.homecontent a.active {
		background-color: #FFEBCD; /* colour dropdown*/
	}
.homecontent a:hover {
	  background-color: #e6c69c;
	}
.dropdown:hover .homecontent {
	  display: block;
	}
